<div class="main-content">
  <div class="container">
    <app-product-filter-bar
      [defaultProductfilterBar]="productService.filters"
      (applyFilters)="navigateByFilters($event)"></app-product-filter-bar>
    <ng-container *ngIf="(products$ | async)?.length; else notFoundTemplate">
      <div class="row">
        <app-product-card class="col-md-3" [product]="product" *ngFor="let product of products$ | async">
        </app-product-card>
      </div>
    </ng-container>
    <ng-template #notFoundTemplate>
      <div class="alert alert-warning col-md-12 mt-4" role="alert">No se han encontrado productos.</div>
    </ng-template>
  </div>
</div>
